@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
  --color-background: #E5E5E5;
  
  --primary-color: #DA5C5C;
  --primary-hover-color: #a74b4b;
  --dark-color: #263238;
  --secondary-color: #9E9E9E;
  --light-color: #F5F5F5;

  font-size: 60%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--color-background); 
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

body,
input,
button,
textarea {
  font: 500 1.6rem Open Sans;
  color: var(--secondary-color);
}

@media (min-width: 700px) {
  :root {
    font-size: 62.5%;
  }
}